Repository skypilot-org/skypilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: python
  additional_dependencies:
  - pylint==2.14.5
  - pylint-quotes==0.2.3
  args:
  - --load-plugins=pylint_quotes
  - --rcfile=.pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

typo
  sky/provision/oci/query_utils.py
Due: pylint

bug fix and test update
  sky/utils/controller_utils.py
  tests/test_smoke.py
  tests/test_yamls/use_intermediate_bucket.yaml
Due: pylint

Add example
  examples/oci/http-server-cpu.yaml
Due: none

same file already exists in examples/serve folder
  examples/oci/http-server-cpu.yaml
Due: none

Add example for serve cpu resource task.
  examples/oci/serve-http-cpu.yaml
Due: none

Update `--env-file` to sky doc (#4345)
  docs/source/running-jobs/environment-variables.rst
Due: none

nit
  examples/oci/serve-http-cpu.yaml
Due: none

[Jobs] Remove assertion for one signle controller resoruces.
  sky/jobs/core.py
Due: pylint

remove debug
  sky/api/rest.py
Due: pylint

remove debug
  sky/cli.py
Due: pylint

fix show-gpus
  sky/cli.py
Due: pylint

add todo
  sky/cli.py
Due: pylint

fix ux
  sky/utils/cli_utils/status_utils.py
Due: pylint

Fix user name
  sky/global_user_state.py
Due: pylint, mypy

Add user hash to bucket name
  examples/dag/diamond.yml
  sky/data/storage.py
  sky/optimizer.py
Due: pylint

Remove logging
  sky/data/storage.py
Due: pylint

update request ls
  sky/api/rest.py
  sky/api/sdk.py
  sky/cli.py
Due: pylint

Remove underline in bucket name
  sky/jobs/utils.py
  sky/optimizer.py
Due: pylint

Add uuid to bucket name
  sky/optimizer.py
Due: pylint

Use subprocess_utils.run
  sky/backends/cloud_vm_ray_backend.py
  sky/data/storage.py
Due: pylint

Delete plot
  sky/jobs/core.py
Due: pylint

Fix workdir validation for remote API server
  sky/api/common.py
  sky/api/rest.py
  sky/execution.py
  sky/task.py
Due: pylint

format
  sky/api/requests/payloads.py
  sky/api/rest.py
  sky/task.py
Due: pylint

make workdir always the full path for remote api server
  sky/api/common.py
  sky/api/requests/payloads.py
  sky/optimizer.py
  sky/task.py
Due: pylint

remove error
  sky/api/common.py
Due: pylint

add comments
  sky/optimizer.py
Due: pylint

[Docs] Fix some issues with Managed Jobs example.
  docs/source/examples/managed-jobs.rst
Due: none

fix
  docs/source/examples/managed-jobs.rst
Due: none

change back to body but use params
  sky/api/rest.py
Due: pylint

use server url
  sky/templates/websocket_proxy.py
Due: pylint

Apply make_cluster_name to bucket name
  sky/optimizer.py
Due: pylint

feat: global optimization
  sky/jobs/controller.py
Due: pylint

[WIP][Serve] Enable launching multiple external LB on controller.
  examples/serve/external-lb.yaml
  sky/serve/constants.py
  sky/serve/core.py
  sky/serve/serve_state.py
  sky/serve/serve_utils.py
  sky/serve/service.py
  sky/serve/service_spec.py
  sky/templates/sky-serve-external-load-balancer.yaml.j2
  sky/utils/controller_utils.py
  sky/utils/schemas.py
Due: pylint

Fix request ls
  sky/api/requests/payloads.py
  sky/api/sdk.py
Due: pylint

format
  sky/serve/serve_state.py
  sky/serve/service.py
Due: pylint

style: add some comments
  sky/jobs/controller.py
Due: pylint

fix server logs
  sky/api/common.py
  sky/api/rest.py
  sky/api/sdk.py
Due: pylint

Fix minimal smoke test due to ordering of the UI display
  tests/test_smoke.py
Due: pylint

naming
  sky/serve/serve_utils.py
Due: pylint

[DAG] Run global optimization on controller for task placement (#4364)
  sky/jobs/controller.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(build/.*|sky/skylet/providers/ibm/.*)$
  mypy: any of: (?x)^(
    sky/global_user_state.py|
    sky/serve/
)$
 and \.py$
